<h1 class="display-4" style="text-align: center;" id="assistance">Assistance Programs</h1>
<div class="row" style="text-align: center;">
    <div class="col-md-4">
        <p><b>SNAP</b></p>
        <img src="../images/snap.png" class="img-fluid" alt="SNAP Icon">
        <p style="text-align: center;"><a class="btn btn-primary btn-lg" href="https://faonlineapp.dhs.tn.gov/" target="_blank" role="button">Apply Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><b>WIC</b></p>
        <img src="../images/wic.png" class="img-fluid" alt="WIC Icon">
        <p style="text-align: center;"><a class="btn btn-primary btn-lg" href="https://www.tn.gov/health/health-program-areas/fhw/wic.html" target="_blank" role="button">Learn How to Apply &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><b>Nutrition Info</b></p>
        <img src="../images/nutrition.png" class="img-fluid" alt="Nutrition Icon">
        <p style="text-align: center;"><a class="btn btn-primary btn-lg" href="#assistance" role="button">Learn More &raquo;</a></p>
    </div>
    
</div>
