
<h1 class="display-4" style="text-align: center;" id='calendar'>Nashville Food Pantry Calendar</h1>
<!--<p style="text-align: center;"><b>North Nashville</b></p>-->
<div class="row">
    <div class="col-lg">
        <u>Monday</u>
        <p><strong>Nashville Rescue Mission</strong><br />
            24/7<br />
            <a style="color: inherit; font-weight: normal;" href="https://www.google.com/maps/place/639+Lafayette+St,+Nashville,+TN+37203/@36.1531652,-86.7797226,17z/data=!3m1!4b1!4m5!3m4!1s0x88646660c7ccce71:0x21d72d5fd67acde6!8m2!3d36.1531652!4d-86.7775339" target="_blank" rel="noopener">639 Lafayette Street, Nashville, TN</a><br />
        </p>
        <p><strong>Community Care Fellowship</strong><br />
            9 am &#8211; 3 pm <br />
            <a style="color: inherit; font-weight: normal;" href="https://goo.gl/maps/ndBZTxnNYtiSGMzo8" target="_blank" rel="noopener"> 511 South 8th Street, Nashville, TN</a><br />
        </p>
        <p><strong>Loaves &amp; Fishes</strong><br />
            8:30 am &#8211; 9 am; 11 am &#8211; 12:30 pm <br />
            <a style="color: inherit; font-weight: normal;" href="https://goo.gl/maps/uL6L9S1eRskG6uPg6" target="_blank" rel="noopener"> 508 Main Street, Nashville, TN</a><br />
        </p>
    </div>
    <div class="col-lg">
        <u>Tuesday</u>
        <p><strong>Nashville Rescue Mission</strong><br />
            24/7<br />
            <a style="color: inherit; font-weight: normal;" href="https://www.google.com/maps/place/639+Lafayette+St,+Nashville,+TN+37203/@36.1531652,-86.7797226,17z/data=!3m1!4b1!4m5!3m4!1s0x88646660c7ccce71:0x21d72d5fd67acde6!8m2!3d36.1531652!4d-86.7775339" target="_blank" rel="noopener">639 Lafayette Street, Nashville, TN</a><br />
        </p>
        <p><strong>Community Care Fellowship</strong><br />
            9 am &#8211; 3 pm <br />
            <a style="color: inherit; font-weight: normal;" href="https://goo.gl/maps/ndBZTxnNYtiSGMzo8" target="_blank" rel="noopener"> 511 South 8th Street, Nashville, TN</a><br />
        </p>
    </div>
    <div class="col-lg">
        <u>Wednesday</u>
        <p><strong>Nashville Rescue Mission</strong><br />
            24/7<br />
            <a style="color: inherit; font-weight: normal;" href="https://www.google.com/maps/place/639+Lafayette+St,+Nashville,+TN+37203/@36.1531652,-86.7797226,17z/data=!3m1!4b1!4m5!3m4!1s0x88646660c7ccce71:0x21d72d5fd67acde6!8m2!3d36.1531652!4d-86.7775339" target="_blank" rel="noopener">639 Lafayette Street, Nashville, TN</a><br />
        </p>
        <p><strong>Community Care Fellowship</strong><br />
            9 am &#8211; 3 pm <br />
            <a style="color: inherit; font-weight: normal;" href="https://goo.gl/maps/ndBZTxnNYtiSGMzo8" target="_blank" rel="noopener"> 511 South 8th Street, Nashville, TN</a><br />
        </p>
        <p><strong>Loaves &amp; Fishes</strong><br />
            8:30 am &#8211; 9 am; 11 am &#8211; 12:30 pm <br />
            <a style="color: inherit; font-weight: normal;" href="https://goo.gl/maps/uL6L9S1eRskG6uPg6" target="_blank" rel="noopener"> 508 Main Street, Nashville, TN</a><br />
        </p>
    </div>
    <div class="col-lg">
        <u>Thursday</u>
        <p><strong>Nashville Rescue Mission</strong><br />
            24/7<br />
            <a style="color: inherit; font-weight: normal;" href="https://www.google.com/maps/place/639+Lafayette+St,+Nashville,+TN+37203/@36.1531652,-86.7797226,17z/data=!3m1!4b1!4m5!3m4!1s0x88646660c7ccce71:0x21d72d5fd67acde6!8m2!3d36.1531652!4d-86.7775339" target="_blank" rel="noopener">639 Lafayette Street, Nashville, TN</a><br />
        </p>
        <p><strong>Community Care Fellowship</strong><br />
            9 am &#8211; 3 pm <br />
            <a style="color: inherit; font-weight: normal;" href="https://goo.gl/maps/ndBZTxnNYtiSGMzo8" target="_blank" rel="noopener"> 511 South 8th Street, Nashville, TN</a><br />
        </p>
    </div>
    <div class="col-lg">
        <u>Friday</u>
        <p><strong>Nashville Rescue Mission</strong><br />
            24/7<br />
            <a style="color: inherit; font-weight: normal;" href="https://www.google.com/maps/place/639+Lafayette+St,+Nashville,+TN+37203/@36.1531652,-86.7797226,17z/data=!3m1!4b1!4m5!3m4!1s0x88646660c7ccce71:0x21d72d5fd67acde6!8m2!3d36.1531652!4d-86.7775339" target="_blank" rel="noopener">639 Lafayette Street, Nashville, TN</a><br />
        </p>
        <p><strong>Community Care Fellowship</strong><br />
            9 am &#8211; 3 pm <br />
            <a style="color: inherit; font-weight: normal;" href="https://goo.gl/maps/ndBZTxnNYtiSGMzo8" target="_blank" rel="noopener"> 511 South 8th Street, Nashville, TN</a><br />
        </p>
    </div>
    <div class="col-lg">
        <u>Saturday</u>
        <p><strong>Nashville Rescue Mission</strong><br />
            24/7<br />
            <a style="color: inherit; font-weight: normal;" href="https://www.google.com/maps/place/639+Lafayette+St,+Nashville,+TN+37203/@36.1531652,-86.7797226,17z/data=!3m1!4b1!4m5!3m4!1s0x88646660c7ccce71:0x21d72d5fd67acde6!8m2!3d36.1531652!4d-86.7775339" target="_blank" rel="noopener">639 Lafayette Street, Nashville, TN</a><br />
        </p>
        <p><strong>Loaves &amp; Fishes</strong><br />
            8:30 am &#8211; 9 am; 11 am &#8211; 12:30 pm <br />
            <a style="color: inherit; font-weight: normal;" href="https://goo.gl/maps/uL6L9S1eRskG6uPg6" target="_blank" rel="noopener"> 508 Main Street, Nashville, TN</a><br />
        </p>
    </div>
    <div class="col-lg">
        <u>Sunday</u>
        <p><strong>Nashville Rescue Mission</strong><br />
            24/7<br />
            <a style="color: inherit; font-weight: normal;" href="https://www.google.com/maps/place/639+Lafayette+St,+Nashville,+TN+37203/@36.1531652,-86.7797226,17z/data=!3m1!4b1!4m5!3m4!1s0x88646660c7ccce71:0x21d72d5fd67acde6!8m2!3d36.1531652!4d-86.7775339" target="_blank" rel="noopener">639 Lafayette Street, Nashville, TN</a><br />
        </p>
    </div>
</div>
<!--
<p style="text-align: center;"><b>South Nashville</b></p>
<div class="row">
    <div class="col">
        <u>Monday</u>
    </div>
    <div class="col">
        <u>Tuesday</u>
    </div>
    <div class="col">
        <u>Wednesday</u>
    </div>
    <div class="col">
        <u>Thursday</u>
    </div>
    <div class="col">
        <u>Friday</u>
    </div>
    <div class="col">
        <u>Saturday</u>
    </div>
    <div class="col">
        <u>Sunday</u>
    </div>
</div>
<p style="text-align: center;"><b>West Nashville</b></p>
<div class="row">
    <div class="col">
        <u>Monday</u>
    </div>
    <div class="col">
        <u>Tuesday</u>
    </div>
    <div class="col">
        <u>Wednesday</u>
    </div>
    <div class="col">
        <u>Thursday</u>
    </div>
    <div class="col">
        <u>Friday</u>
    </div>
    <div class="col">
        <u>Saturday</u>
    </div>
    <div class="col">
        <u>Sunday</u>
    </div>
</div>
<p style="text-align: center;"><b>East Nashville</b></p>
<div class="row">
    <div class="col">
        <u>Monday</u>
    </div>
    <div class="col">
        <u>Tuesday</u>
    </div>
    <div class="col">
        <u>Wednesday</u>
    </div>
    <div class="col">
        <u>Thursday</u>
    </div>
    <div class="col">
        <u>Friday</u>
    </div>
    <div class="col">
        <u>Saturday</u>
    </div>
    <div class="col">
        <u>Sunday</u>
    </div>
</div>
-->
<p style="text-align: center;"><a class="btn btn-primary btn-lg" href="/downloads/example_calendar.pdf" role="button" download>Get Calendar &raquo;</a></p>